.gameover{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.gameover h2 {
    margin-bottom: 1rem; 
}

.gameover p{
    margin-bottom: 1rem;
}

.gameover img {
    margin-top: 2rem;
    height: 200px;
}

.gameover button{
    border: 2px solid #fff;
    margin-top: 2rem;
    
}